<div class="container">
    <div class="row">
        <div class="twelve columns box">
            <h2>Phone Usage Records</h2>
            <table>
                <tr>
                    <th>Item Type</th>
                    <th>Item Cost</th>
                    <th>Time Recorded</th>
                </tr>
            {{#each records}}
                
                <tr>
                    <td>{{itemType}}</td>
                    <td>R{{cost}}</td>
                    <td>{{newDate}}</td>
                </tr>
            {{/each}}
            </table>
            <form action="/" method="GET">
                <button type="submit">Back</button>
            </form>
            
        </div>   
    </div>
</div>